{% extends 'base.html' %}

{% block title %}Название рецепта{% endblock %}

{% block content %}
<div style="max-width: 800px; margin: 20px auto; padding: 20px; border-radius: 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); background-color: #fff;">
    <h2 style="color: #333; text-align: center;">{{ recipe.title }}</h2>
    <img src="/media/{{ recipe.image }}" alt="{{ recipe.title }}" style="display: block; max-width: 100%; height: auto; margin: 0 auto;">
    <p style="color: #666; margin-top: 20px;"><strong>Описание:</strong> {{ recipe.description }}</p>
    <p style="color: #666;"><strong>Шаги приготовления:</strong> {{ recipe.preparation_steps }}</p>
    <p style="color: #666;"><strong>Время приготовления:</strong> {{ recipe.cooking_time }} мин</p>
    <p style="color: #666;"><strong>Автор:</strong> {{ recipe.author }}</p>
    <p style="color: #666;"><strong>Категории:</strong>
        {% for category in recipe.categories.all %}
            {{ category.name }},

        {% endfor %}

    </p>
    {% if recipe.author == request.user %}
        <a href="{% url 'recipe_edit' recipe_id=recipe.id %}" style="display: inline-block; background-color: #007bff; color: #fff; padding: 10px 15px; text-decoration: none; border-radius: 5px;">Редактировать</a>
    {% endif %}
</div>


{% endblock %}